.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  /* background-color: #282c34; */
  background: linear-gradient(rgba(40, 44, 52, 0.9), rgba(40, 44, 52, 0.8), rgba(40, 44, 52, 0.9));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.thumbnail {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 2px;
  margin: 5px; /* Some padding */
  width: 40px; /* Set a small width */
  height: 40px;
}

.thumbnail:focus {
  cursor: pointer;
  border: solid 2px #1597ff;
  box-shadow: 0 0 0 0px #1597ff, 0 10px 15px -20px rgba(21, 151, 255, 0);
}

.btn {
  padding: .15em .3em;
  /* border: solid 1px #1597ff; */
  border-radius: .5em;
  display: inline-block;
  text-align: center;
  /* background-color: #68d930; */
  background-color: transparent;
  width: 6em;
  height: 3em;
  margin: .5em;
  color: white;
  border: none;
}



button.option:hover {
  box-shadow: 0 0 5px rgba(104, 217, 48, 1);
}

.btn-group {
  display: inline-flex;
  overflow: hidden;
  margin-top: .2em ;
}

.btn:focus, .btn-square:focus{
  cursor: pointer;
  border: solid 2px #1597ff;
  box-shadow: 0 0 0 0px #1597ff, 0 10px 15px -20px rgba(21, 151, 255, 0);
  outline: 0;
  /* color: #fff; */
}

.btn-square:hover, .btn:hover, .btn-big:hover {
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
  /* background-color: #63ce2e; */
  text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
}

.btn-big {
  display: block;
  margin: 16px auto;
  padding: 8px 16px;
  /* background-color: #68d930; */
  background-color: transparent;
  box-shadow: none;
  border: none;
  border-radius: .5em;
  color: white;
  position: absolute;
  left: 35%;
  right: 35%;
  bottom: 10%;
}

/* a,
button {
  font-size: 1.5rem;
} */

button.option {
  border: none;
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;
  font-size: 1rem;
  margin: 1rem .25rem 1rem .25rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-self: start;
  /* background-color: #68d9304d; */
  color: #fff;
  border-radius: 5px;
  /* box-shadow: 0 3px 5px rgba(104, 217, 48, 1); */
  padding: 0.25em 0.75em;
  /* min-width: 10ch;*/
  min-height: 44px; 
  text-align: center;
  line-height: 1.1;
  transition: 50ms all ease-in-out;
  box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
  /* border: 1px solid #68d930; */
}

button.option:hover {
  border: 2px solid #68d930;
  box-shadow: 0 0px 5px rgba(104, 217, 48, 1);
  background-color: #54b6235b;
}

button.option.active {
  border: 2px solid #68d930;
  box-shadow: 0 0px 5px rgba(104, 217, 48, 1);
  background-color: #54b62381;
}

button.button {
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
  font-size: 1.2rem;
  margin: 1rem 0 1rem 0;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-self: start;
  background-color: #68d930;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18), inset 0 0 2px 0 black, inset 0 0 5px 5px rgba(0, 0, 0, 0.2);
  padding: 0.25em 0.75em;
  min-width: 10ch;
  min-height: 44px;
  text-align: center;
  line-height: 1.1;
  transition: 200ms all ease-in-out;
}
@media screen and (-ms-high-contrast: active) {
  button.button {
    border: 2px solid currentcolor;
  }
}

button.btn-bottom {
  position: absolute;
  left: 50%;
  bottom: 2rem;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}

button.wide {
  width: 70%;
}

button.button:hover {
  background-color: #54b623f1;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18)
}

button:focus {
  outline: 0;
}



.Typist .Cursor {
  display: inline-block;
}
.Typist .Cursor--blinking {
  opacity: 1;
  animation: blink 1s linear infinite;
}
@keyframes blink {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

div > h5 {
  margin-bottom: .2rem;
}

h6 {
  margin: 0 0 0 0;
}